/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.flex {
  display: flex;
}

nav {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

nav img {
  width: 100px;
  height: 50px;
}

nav ul {
  display: none;
}

nav .fa {
  font-size: 1.1em;
}

header {
  flex-direction: column;
  padding: 10px;
}

header img {
  order: 1;
}

main {
  flex-direction: column;
  padding: 10px;
  text-align: center;
}

main img {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
}

.companies .flex {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

main .signin {
  flex-direction: column;
}

footer {
  flex-direction: column;
  padding: 10px;
}

.map {
  flex-wrap: wrap;
}

.map ul {
  width: 50%;
  margin: 20px 0;
  padding: 0;
  list-style: none;
}

.info .flex {
  flex-direction: column;
  text-align: center;
}

.language {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 767px) and (max-width: 960px) {
  input, button {
    width: 50%;
  }

  main img {
    width: 40%;
  }

  main .signin {
    flex-direction: row;
  }

  .map {
    flex-wrap: nowrap;
  }

  .info {
    justify-content: space-between;
  }

  .info .flex {
    flex-direction: row;
  }

  .language {
    flex-direction: row;
  }

  .language img {
    width: 10px;
  }
}

@media (min-width: 961px) and (max-width: 1024px) {
  main img {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  nav .fa {
    display: none;
  }

  nav ul {
    display: block;
  }

  main img {
    width: 30%;
  }
}