/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  color: #5b5e6d;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2 {
  color: #2c303f;
}

a {
  color: #192592;
}

.flex {
  display: flex;
}

nav {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

nav img {
  width: 100px;
  height: 50px;
}

.main-menu {
  display: none;
}

nav .fa {
  font-size: 1.1em;
}

header {
  flex-direction: column;
  padding: 10px;
  text-align: center;
}

header img {
  order: 1;
}

button {
  background: #192592;
  border: 1px #192592 solid;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
}

input {
  padding: 5px;
  border: 1px solid #5b5e6d;
}

main {
  flex-direction: column;
  padding: 10px;
  text-align: center;
}

main img {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid #c4c3c4;
}

.email {
  flex-direction: column;
}

.companies {
  background: #f4f3f4;
}

.companies .flex {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

main .signin {
  flex-direction: column;
}

footer {
  flex-direction: column;
  padding: 10px;
}

.map {
  flex-wrap: wrap;
}

.map ul {
  width: 50%;
  margin: 20px 0;
  padding: 0;
  list-style: none;
}

.map li {
  margin: 5px 0;
}

.map ul li:first-child {
  font-weight: bold;
}

.info {
  flex-direction: column;
}

.links {
  list-style: none;
  justify-content: center;
}

.links li {
  margin: 0 10px;
}

.country {
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

.language {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (min-width: 767px) and (max-width: 960px) {
  input, button {
    width: 50%;
  }

  main img {
    width: 40%;
  }

  main .signin {
    flex-direction: row;
  }

  .map {
    flex-wrap: nowrap;
  }

  .info {
    justify-content: space-between;
    flex-direction: row;
  }

  .info .flex {
    flex-direction: row;
  }

  .language {
    flex-direction: row;
  }

  .language img {
    width: 10px;
  }
}

@media (min-width: 961px) and (max-width: 1024px) {
  main img {
    width: 30%;
  }
}

@media (min-width: 1025px) { 
  nav .fa {
    display: none;
  }

  .main-menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-direction: row;
  }

  .main-menu li {
    margin: 0 10px;
  }

  header img {
    order: 0;
  }
}